@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a style="font-size:40px" asp-page="Register">Register</a><br />
    <a style="font-size:40px" asp-page="Login">Login</a><br />
    <a style="font-size:40px" asp-page="PhoneBook">PhoneBook</a>
</div>
